#mapContainer {
  position: relative;
}

.map-search {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 350px;
  max-height: 300px;
  height: 300px;
}

.search-results {
  .control {
    overflow-y: auto;
    overflow-x:hidden;
    max-height: 190px;
  }
}

.search-result-item {
  text-transform: capitalize;
  cursor: pointer;
  padding:0 10px;
  white-space: pre;

  .item-loading {
    display: none;
  }

  &.show-loading {
    .item-loading {
      display: inline-block;
      vertical-align: middle;
    }
  }

  &:hover {
    background: #ccc;
  }
}


.reset-button {
  position: absolute;
  right:0;
  z-index: 1000;
}

.icon-name {
  text-transform: capitalize;
}

.mapboxgl-popup {
  .item-loading {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .map-search {
    position: initial;
    width:100%;
    height:auto;
  }
}