.emergency-info {
    border: 1px solid #00d1b2;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    margin-bottom: 30px;
}

.emergency-info {
    text-align: center;
}

.emergency-info span {
    margin-bottom: 15px;
    display: block;
}

.emergency-info p {
    font-weight: 600;
    color: #00d1b2;
}

.emergency-info a {
    font-weight: 600;
}